@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800 */

:root {
  --Lightred: hsl(0, 100%, 67%);
  --Orangeyyellow: hsl(39, 100%, 56%);
  --Greenteal: hsl(166, 100%, 37%);
  --Cobaltblue: hsl(234, 85%, 45%);

  --LightslateblueBG: hsl(252, 100%, 67%);
  --LightroyalblueBG: hsl(241, 81%, 54%);

  --VioletblueCIRCLE: hsla(256, 72%, 46%, 1);
  --PersianblueCIRCLE: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Paleblue: hsl(221, 100%, 96%);
  --Lightlavender: hsl(241, 100%, 89%);
  --Darkgrayblue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Paleblue);
}

main {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  border-radius: 2rem;
  width: 650px;
  background-color: var(--White);
}

.container {
  display: flex;
  justify-content: space-between;
}

.result {
  width: 50%;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  background: linear-gradient(
    to bottom,
    var(--LightslateblueBG),
    var(--LightroyalblueBG)
  );
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.result .title {
  color: var(--Lightlavender);
  margin-bottom: 1rem;
}

.result .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    var(--VioletblueCIRCLE),
    var(--PersianblueCIRCLE)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle h1 {
  color: var(--White);
  font-size: 4rem;
}

.circle p {
  color: var(--Lightlavender);
}

.result b {
  color: var(--White);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.result .info {
  color: var(--Lightlavender);
  width: 200px;
}

.summary {
  width: 50%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary .title {
  color: rgb(71, 71, 71);
  font-weight: 800;
}

.rows-summary {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-radius: 10px;
}

.row:nth-child(1) {
  background-color: hsla(0, 100%, 67%, 0.2);
}

.row:nth-child(1) .badge b {
  color: var(--Lightred);
}

.row:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.2);
}

.row:nth-child(2) .badge b {
  color: var(--Orangeyyellow);
}

.row:nth-child(3) {
  background-color: hsla(166, 100%, 37%, 0.2);
}

.row:nth-child(3) .badge b {
  color: var(--Greenteal);
}

.row:nth-child(4) {
  background-color: hsla(234, 85%, 45%, 0.2);
}

.row:nth-child(4) .badge b {
  color: var(--Cobaltblue);
}

.badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.row p
{
    color: rgb(63, 57, 77);
}

.row p b
{
    color: var(--Darkgrayblue);
    font-weight: 800;
}

.btn{
    margin-top: auto;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--Darkgrayblue);
    cursor: pointer;
    font-size: 1rem;
    color: var(--White);
}

.btn:hover
{
    background: linear-gradient(
        to bottom,
        var(--LightslateblueBG),
        var(--LightroyalblueBG)
      );;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 650px)
{
    body{
        align-items: flex-start;
        background-color: var(--White);
    }

    main
    {
        box-shadow: none;
    }

    .container
    {
        flex-direction: column;
    }

    .result
    {
        width: 100%;
        border-radius: 0 0 2rem 2rem;
    }

    .result .info
    {
        width: 250px;
    }

    .summary
    {
        width: 100%;
    }
}